* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sky-blue: #4e90e2;
  --hover-color: #3e6bee;
  --dark-gray-primary-text: #2c3e50;
  --light-gray: #f5f6fa;
  --light-gray-secondary-text: #ecf0f1;
}

body {
  background-color: var(--light-gray);
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

a {
  text-decoration: none;
  color: var(--dark-gray-primary-text);
}

h1 {
  font-size: 3rem; /* 16px * 3 = 48px */
  line-height: 1.2;
  color: var(--dark-gray-secondary-text);
}

h3 {
  color: var(--light-gray-secondary-text);
}

/* Video Section */
.video {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--sky-blue) url('./images/cover.jpg') no-repeat center center/cover;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.content {
  z-index: 10;
}